.wwebjs_auth/*
node_modules/*
*.log
api/whatsapp_chats_api_v3/node_modules/*
node_modules/*
/public/hot
/public/storage
/storage/*.key
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
api/whatsapp_chats_api_v3/node_modules/*
*.log
request_log_sended.log
success.log
.gitignore
api/whatsapp_chats_api_v3/storage/framework/cache/*
api/whatsapp_chats_api_v3/storage/framework/views/*
api\whatsapp_chats_api_v3\vendor
api/whatsapp_chats_api_v3/.wwebjs_auth/*
api/whatsapp_chats_api_v3/storage/framework/views/99f04a1f4a018690c6e098b9acb80216dc9a9702.php
api/whatsapp_chats_api_v3/storage/logs/laravel.log
