.wwebjs_auth/*
node_modules/*
*.log
api/whatsapp_chats_api_v3/node_modules/*
node_modules/*
/public/hot
/public/storage
/storage/*.key
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
api/whatsapp_chats_api_v3/node_modules/*
*.log
request_log_sended.log
success.log
.gitignore
api/whatsapp_chats_api_v3/storage/framework/cache/data/37/d0/37d0a0437440b46a8594240ab75f0e7bba582bed
api/whatsapp_chats_api_v3/storage/framework/cache/data/c0/71/c071422490d526a8aada046adf3a9c9fa0593468
api\whatsapp_chats_api_v3\vendor
api\whatsapp_chats_api_v3\.wwebjs_auth