/public/hot
/public/storage
/storage/*.key
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
api/whatsapp_chats_api_v3/node_modules/*
*.log
vendor/
api\whatsapp_chats_api_v3\.wwebjs_auth